In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('spam_ham_dataset.csv')
df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [3]:
df_copy = df.drop(['Unnamed: 0', 'label'], axis=1)
df_copy

                                                   text  label_num
0     Subject: enron methanol ; meter # : 988291\r\n...          0
1     Subject: hpl nom for january 9 , 2001\r\n( see...          0
2     Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     Subject: photoshop , windows , office . cheap ...          1
4     Subject: re : indian springs\r\nthis deal is t...          0
...                                                 ...        ...
5166  Subject: put the 10 on the ft\r\nthe transport...          0
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169  Subject: industrial worksheets for august 2000...          0
5170  Subject: important online banking alert\r\ndea...          1

[5171 rows x 2 columns]

In [4]:
df_copy.isnull().sum()

text         0
label_num    0
dtype: int64

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()

In [6]:
X = df_copy.text
y= df_copy.label_num

In [7]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

# from sklearn.svm import SVC
# model = SVC()

# model.fit(np.array(X_train, object), np.array(y_train, object))

In [8]:
# X_train

In [14]:
df_copy

                                                   text  label_num
0     Subject: enron methanol ; meter # : 988291\r\n...          0
1     Subject: hpl nom for january 9 , 2001\r\n( see...          0
2     Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     Subject: photoshop , windows , office . cheap ...          1
4     Subject: re : indian springs\r\nthis deal is t...          0
...                                                 ...        ...
5166  Subject: put the 10 on the ft\r\nthe transport...          0
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169  Subject: industrial worksheets for august 2000...          0
5170  Subject: important online banking alert\r\ndea...          1

[5171 rows x 2 columns]

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [43]:
X_train_count = vect.fit_transform(X_train.values)

In [44]:
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 6, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [5, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [45]:
model.fit(X_train_count, y_train)

MultinomialNB()

In [46]:
X_test_count = vect.transform(X_test.values)

In [47]:
X_test_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [48]:
model.score(X_test_count, y_test)

0.9721577726218097

In [49]:
emails = [
    'I love you',
    'Buy your coupon code here at a cheaper rate'
]

emails_count = vect.transform(emails)

In [50]:
emails_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [51]:
pred = model.predict(emails_count)

In [52]:
for t in pred:
    if t == 1:
        print('Spam')
    else:
        print('Ham')

Ham
Spam

In [53]:
def check_spam(emails):
    emails_count = vect.transform(emails)
    emails_count.toarray()
    pred = model.predict(emails_count)
    for t in pred:
        if t == 1:
            print('Spam')
        else:
            print('Ham')

In [54]:
check_spam( ["Hey there, top skills, and career preferences. Sign up today - it’s completely free for job-seekers!"]
)

Spam